<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-8">
                <h1>Productos</h1>
                <!-- Aquí irán los productos generados dinámicamente -->
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Descripción del Producto 1</p>
                        <button class="btn btn-outline-primary" data-id="1" data-fruta="Producto 1" data-precio="10">Agregar al Carrito</button>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Producto 2</h5>
                        <p class="card-text">Descripción del Producto 2</p>
                        <button class="btn btn-outline-primary" data-id="2" data-fruta="Producto 2" data-precio="20">Agregar al Carrito</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h1>Carrito</h1>
                <ul id="carrito" class="list-group">
                    <!-- Elementos del carrito se agregarán aquí -->
                </ul>
                <div id="footer" class="mt-3">
                    <!-- Footer del carrito se agregará aquí -->
                </div>
            </div>
        </div>
    </div>

    <!-- Template para los elementos del carrito -->
    <template id="template">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-white lead"></span>
            <span class="badge badge-primary badge-pill"></span>
            <div class="lead">$<span></span></div>
            <div>
                <button class="btn btn-success btn-sm">+</button>
                <button class="btn btn-danger btn-sm">-</button>
            </div>
        </li>
    </template>
    <p>Este es el parrafo del diseñador1</p>
    <!-- Template para el footer del carrito -->
    <template id="templateFooter">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Total: $<span></span></span>
        </li>
    </template>
      <p>Este es el primer párrafo del documentog</p>
    {% load static %}
    <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
